{% extends "base.html" %}

{% block head %}

{% block title %}{{request.path}}{% endblock %}

{% endblock %}

{% block content %}

<!-- Page Content BEGIN -->
<div class="page-content">

  {% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
    		<div class="flash">{{ message }}</div>
  		{% endfor %}
		{% endif %}
	{% endwith %}

  <!-- BEGIN BREADCRUMBS -->
  <div class="breadcrumbs">
    <h1>{{request.path}}</h1>
    <ol class="breadcrumb">
      <li><a href="#">/Home</a></li>
      <li><a href="#">/Dashboard </a></li>
      <li class="active">{{request.path}}</li>
    </ol>
  </div>
  <!-- END BREADCRUMBS -->
  <div class="row">
    <div class="col-md-12 col-sm-12">

      <!-- BEGIN  TABLE PORTLET-->
      <div class="portlet box grey">
        <div class="portlet-title">
          <div class="caption">Service Accounts</div>
          <div class="actions">
            <a href="javascript:"
               class="btn btn-default btn-sm"
                id="add-svc-acc-btn">
              <i class="fa fa-plus"></i> Add </a>
          </div>
        </div>

        <div class="portlet-body">
          <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
            <tr>
              <th>Username</th>
              <th>Description</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>Type</th>
            </tr>
            </thead>


            {% for u in service_accounts %}
            <tbody>
            <tr class="odd gradeX">
              <td>{{ u.username }}</td>
              <td>{{ u.description }}</td>
              <td>
                <div class="actions">
                  <a href="javascript:"
                     class="btn btn-default btn-sm">
                    <i class="fa fa-pencil"></i> Edit </a>
                </div>
              </td>
              <td>
                <div class="actions">
                  <a href="javascript:"
                     class="btn btn-default btn-sm">
                    <i class="fa fa-remove"></i> Delete </a>
                </div>
              </td>
              <td>{% if u.account_type == 'l'%}<i class="fa fa-linux"></i>{% elif u.account_type == 's' %}<i class="fa fa-windows">{% endif %}</i></td>
            </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
      </div>

      <form class="svc-acc-form portlet light bordered" action="{{ url_for('settings.service_accounts') }}" method="post">
        {{ svc_accounts_form.hidden_tag() }}

        <div class="row">
          <div class="col-md-3">
            <div class="form-group form-md-line-input form-md-floating-label">
              <input type="text"
                     class="form-control"
                     autocomplete="off"
                     name = "username"
                     value="{{ request.form.username }}">
              <label>{{ svc_accounts_form.username.label }}</label>
              <span class="help-block">Enter the username for the core router</span>
            </div>
          </div>
          <!--end col-->

          <div class="col-md-3">
            <div class="form-group form-md-line-input form-md-floating-label has-success">
              <input type="password"
                     class="form-control"
                     autocomplete="off"
                     name = "password"
                     value="{{ request.form.password }}">
              <label>{{ svc_accounts_form.password.label }}</label>
              <span class="help-block">Enter the password for the core router</span>
            </div>
          </div>
          <!--end col-->

          <div class="col-md-3">
            <div class="form-group form-md-line-input form-md-floating-label has-success">
              <input type="password"
                     class="form-control"
                     autocomplete="off"
                     name = "enable_password"
                     value="{{ request.form.enable_password }}">
              <label>{{ svc_accounts_form.enable_password.label }}</label>
              <span class="help-block">Enter the enable password for the core router</span>
            </div>
          </div>
          <!--end col-->
          <div class="md-radio-inline" style="padding-top: 25px">
            <div class="md-radio">
              <input type="radio" id="radio6" name="radio2" value="smb_user" class="md-radiobtn">
              <label for="radio6">
                <span></span>
                <span class="check"></span>
                <span class="box"></span> Windows</label>  <i class="fa fa-windows"></i>
            </div>
            <div class="md-radio">
              <input type="radio" id="radio7" name="radio2" value="linux_user" class="md-radiobtn" checked>
              <label for="radio7">
                <span></span>
                <span class="check"></span>
                <span class="box"></span> Linux/Unix</label>  <i class="fa fa-linux"></i>
            </div>
          </div>
          <!--end row-->
        </div>

        <div class="row">
            <div class="col-md-6">
              <div class="form-group form-md-line-input form-md-floating-label has-error">
                <input type="text"
                       class="form-control"
                       name="description"
                       autocomplete="off"
                       value="{{ request.form.description }}">
                <label>{{ svc_accounts_form.description.label }}</label>
                <span class="help-block">Service Account Description</span>
              </div>
            </div>
        </div>

        <div class="form-actions noborder">

            <button {% if seed_router %} type="button" class="btn blue disabled" {% else %} type="submit" class="btn blue" {% endif %}
                    value="{{ request.form.submit }}">{{ svc_accounts_form.submit.label }}</button>

            <button id="add-svc-acc-back-btn"
                    type="button"
                    class="btn default">Cancel</button>
        </div>
      </form>
      <!-- END TABLE -->
    </div>
    <!--END COl-->
  </div>
  <!--END ROW-->
</div>

<!-- Page Content END -->
{% endblock %}